* {
    padding: 0%;
    margin: 0%;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background: linear-gradient(#ffffffde, #dad9d9c7);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body::after {
    content: '';
    width: 100%;
    height: 100%;
    background: rgb(235, 41, 41);
    position: absolute;
    z-index: -1;
    clip-path: circle(45% at right 70%);
}

.container {
    width: 95%;
    height: 95%;
    background: rgba(160, 124, 113, 0.349);
    border-radius: 40px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 20px 0;
}

nav .logo {
    color: #e73737;
    text-decoration: none;
    font-size: 32px;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: 700;
}

nav ul li {
    display: inline-block;
    margin: 0 6px;
}

nav ul li {
    color: rgb(106, 136, 175);
    font-size: 15px;
    font-weight: 400;
}

nav ul li a:hover {
    color: #b63131;
}

.content .text {
    color: rgb(0, 0, 0);
    width: 35%;
}

.content .text h2 {
    font-size: 32px;
    text-transform: capitalize;
    letter-spacing: 2px;
}

content .text p {
    font-size: 13px;
    line-height: 25px;
    margin: 10px 0;
    letter-spacing: 1px;
}

.content .text {
    width: 80%;
}

nav {
    flex-direction: column;
    justify-content: center;
}

body::after {
    clip-path: circle(50% at bottom);
}
